.container{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
}

.chosenColor{
    width: 80px;
    height: 80px;
    border: 2px solid black;
    border-radius: 50%;
    transition: 0.3s ease;
}
.chosenColor:hover{
    transform: scale(1.05);
}